{% extends "ProyectoFinalApp/base.html" %}

{% load static %}

{% block content %}

    {% for caja in cajas %}


    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{caja.imagen.url}}" alt="" style="width: 54.1%;  height: 90%">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower" style="color:greenyellow">{{caja.titulo}}</span>
                <span class="section-heading-upper">       </span>
                <span class="section-heading-upper">       </span>
                <span class="section-heading-upper">{{caja.contenido}}</span>
              </h2>
              <div style="text-align: left; font-size: 0.9em">

              </div>
            </div>
          </div>
        </div>
      </section>

    {% endfor %}

    <section>
        <div style="width: 80%; background-color: rgb(76, 252, 60); margin: auto; text-align: center; color: white">

           {% for caja in cajas %}

             {% for categoria in caja.categorias.all %}

              <a href="{% url 'categoria' categoria.id %}" class="linksCategorias">{{categoria.nombre}} </a>&nbsp;&nbsp;&nbsp;

             {% endfor %}

           {% endfor %}

        </div>
    </section>

    {% endblock %}