{% extends "ProyectoFinalApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoFinalApp/img/fondo.png' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">Efemérides del Fútbol Argentino</span>
          </h2>
          <p class="mb-3">Acá, encontrarás las páginas más importantes y emocionantes del fútbol argentino
          </p>
         
        </div>
      </div>
    </div>
  </section>
  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">La historia de nuestro fútbol</span>
                <span class="section-heading-lower">Contada por periodistas</span>
              </h2>
              <p class="mb-0">Con más de 3 años de trayectoria y más de 29 mil seguidores en Instagram, les traemos la biblioteca completa de la historia de los equipos del fútbol argentino y sus protagonistas</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}